@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'), local('SF-Pro-Display'),
      url('../fonts/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}